{% extends 'base_old.html.twig' %}
{% block body %}
    <body>
    {% include 'header.html.twig' %}
    <br>
        <br>
        <br>
        <div class="container-fluid">
            {% for message in app.session.flashBag.get('success') %}
                <div class="col-lg-offset-3 col-md-4 text-center alert alert-success" id="alerFlash">
                    <i class="fa fa-window-close text-right" aria-hidden="true">
                        {{ message }}
                    </i>
                </div>
            {% endfor %}
            <br>
            <br>
            <br>
            <section class="container-fluid">
                <div class="row">
                    <h2 class="title text-center">Balance Per User</h2>
                </div>
                <br>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordred table-striped">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Balance</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                {% if account.firstName is defined %}
                                    <tr>
                                        <td>{{ account.firstName }}</td>
                                        <td>{{ account.lastName }}</td>
                                        <td>{{ account.balance | format_currency(account.currency) }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <br>
            <br>
            <br>
            <div class="row">
                <h2 class="title text-center">Statements</h2>
            </div>
            <br>
            <div class="row">
                <form method="post" class="col-md-12">
                    <div class="col-md-3 text-center">
                        <label for="search">Name</label>
                        <br>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="First Name" name="firstName" value="{{ app.request.request.get('firstName') }}">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="text" placeholder="Last Name" name="lastName" value="{{ app.request.request.get('lastName') }}">
                        </div>
                    </div>

                    <div class="col-md-3 text-center">
                        <label for="search">Amount between</label>
                        <br>
                        <div class="col-md-6">
                            <input class="form-control" type="number" placeholder="Min amount" name="Min-amount" value="{{ app.request.request.get('Min-amount') }}">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="number" placeholder="Max amount" name="Max-amount" value="{{ app.request.request.get('Max-amount') }}">
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <label for="search" class="text-center">Dates between</label>
                        <br>
                        <div class="col-md-6">
                            <input class="form-control" type="date" placeholder="Min date" name="Min-date" value="{{ app.request.request.get('Min-date') }}">
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="date" placeholder="Max date" name="Max-date" value="{{ app.request.request.get('Max-date') }}">
                        </div>
                        <input type="hidden" name="specialrequest" value="1">
                    </div>
                    <br>
                    <button class="btn btn-primary">Submit</button>
                </form>
                <section class="col-md-12" style="margin-top: 25px">
                    <div class="table-responsive">
                        <table id="mytable" class="table table-bordred table-striped">
                            <thead class="label-primary" style="color: whitesmoke">
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Communication</th>
                                <th>Operation</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Currency</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if transactions|length > 0 %}
{#                                {% set id = null %}#}
                                {% set idline = 0 %}
                                {% for transaction in transactions %}
                                    {% set idline = idline +1 %}
                                    <tr>
                                        <td>{{ idline }}</td>
                                        <td>
                                            {% if transaction.firstName is defined %}
                                                {{ transaction.firstName }}</td>
                                            {% endif %}
                                        <td>
                                            {% if transaction.lastName is defined %}
                                                {{ transaction.lastName }}</td>
                                            {% endif %}
                                        <td class="reference">
                                            <div class="ref-container">
                                                <span>{{ transaction.reference }}</span>
                                                <button class="btn btn-xs btn-info" style="float: right" onclick="showReferenceEditForm(this)">Edit</button>
                                            </div>
                                            <div class="edit-reference" style="display: none">
                                                {% set form = formTransaction.createView %}
                                                {{ form_start(form) }}
                                                    {{ form_widget(form.id, { 'attr': {'value': transaction.id} }) }}
                                                    {{ form_widget(form.communication, { 'value': transaction.reference }) }}
                                                    <div class="text-right" style="margin-top: 5px">
                                                        <button type="button" class="btn btn-xs btn-default" onclick="hideReferenceEditForm(this)">Cancel</button>
                                                        {{ form_widget(form.Submit) }}
                                                    </div>
                                                {{ form_end(form) }}
                                            </div>
                                        </td>
                                        <td>{{ transaction.type }}</td>
                                        <td>{{ transaction.updatedAt|date('d-M-Y')}}</td>
                                        <td class="text-right text-{{ transaction.legs[0].amount > 0 ? 'success':'danger'}}">{{ transaction.legs[0].amount|number_format(2, '.', ',') }}</td>
                                        <td>{{ transaction.legs[0].currency }}</td>
                                    </tr>
{#                                    {% set id = list.referencemovement %}#}
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td>
                                        <i>No statement recorded</i>
                                    </td>
                                </tr>
                            {% endif %}
{#                            <div class="navigation">#}
{#                                {{ knp_pagination_render(pagination) }}#}
{#                            </div>#}
                        </table>
                    </div>
                </section>
            </div>
            {% include 'footer.html.twig' %}
            <script>
                $(function () {
                    $('i').on('click', function () {
                    setTimeout(
                        20000,
                        $('.alert').remove(),
                        location.reload()
                        );
                    });
                });

                function showReferenceEditForm(ref){
                    const refDev = $(ref).parentsUntil('.reference').closest('.ref-container');
                    refDev.hide();
                    refDev.next().show();
                }

                function hideReferenceEditForm(ref){
                    const refDev = $(ref).parentsUntil('.reference').closest('.edit-reference');
                    refDev.hide();
                    refDev.prev().show();
                }

            </script>
        </div>
    </body>
{% endblock %}