{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <h2 class="title text-center">Client Contract</h2>

        <div class="row">
            <div class="col-md-6">
                {{ form_start(form) }}
                {{ form_row(form.user}) }}
                {{ form_row(form.startDate) }}
                {{ form_row(form.endDate) }}
                {{ form_row(form.rate) }}
                {{ form_row(form.extrapercentbankholidays) }}
                {{ form_row(form.extrapercentsatyrday) }}
                {{ form_row(form.extrapercentsunday) }}
                {{ form_row(form.Submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
