{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        html {background-color: #9d9d9d }
    </style>
{% endblock %}
{% block body %}
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <!-- Navigation -->
                        <nav class="navbar navbar-default navbar-light">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="{{ path('homepage') }}" >
                                    <img src="{{ asset('img/Logo_Senso_3.png') }}" alt="logo">
                                </a>
                                <!-- Brand -->
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example" >
                                <ul class="nav navbar-nav navbar-right" >
                                    <li class="active">
                                    <li>
                                        <a class="page-scroll" href="{{ path('homepage') }}">About</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{{ path('homepage') }}">Services</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{{ path('homepage') }}">Contact</a>
                                    </li>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li>
                                            <a class="btn btn-success"  href="{{ path('adminsenso') }}"><i>My</i>Senso</a>
                                        </li>
                                        <li>
                                            <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="btn btn-primary"  href="{{ path('app_login') }}">Login</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>

                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
    <br>
    <br>
    <br>
    <!-- form user info -->
    <div class="col-md-8 offset-md-2">
        <span class="anchor" id="formUserEdit"></span>
        <hr class="my-5">
        <a href="{{ path('adminsenso')}}">
            <button class="btn btn-success" value="Back">
                <i class="fa fa-arrow-left" aria-hidden="true" style="font-weight: bold"> Back</i>
            </button>
        </a>
        <br>
        <br>
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0 text-center">User Information</h3>
            </div>
        </div>
        <br>
        <div class="card-body">
            {{ form_start(form, {'method': 'post'}) }}
                <div class="form-group row">
                    <div class="col-lg-9">
                       {{ form_row(form.firstname) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.lastname) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                       {{ form_row(form.sexe) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.dateofbirth) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                       {{ form_row(form.mail) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                      {{ form_row(form.contacttype) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.socialesecunumber) }}
                    </div>
                </div>
                <div class="card-header">
                    <h3 class="mb-0">Contact Details</h3>
                </div>
                    <div class="form-group row">
                        <div class="col-lg-9">
                            {{ form_row(form.mail.vars.prototype) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-9">
                            {{ form_row(form.phone.vars.prototype) }}
                        </div>
                    </div>
                <br>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.address.vars.prototype) }}
                    </div>
                </div>
                <br>
                <br>
                <div class="card-header">
                    <h3 class="mb-0">Citizenship Details</h3>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.citizenshipdetails.vars.prototype) }}
                    </div>
                </div>
                <br>
                <div class="card-header">
                    <h3 class="mb-0">Bank Details</h3>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.bankdetails.vars.prototype) }}
                    </div>
                </div>
                <br>
                <div class="card-header">
                    <h3 class="mb-0">Contract details</h3>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.contract.vars.prototype) }}
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <div class="col-lg-9">
                        {{ form_row(form.Submit) }}
                    </div>
                </div>
                {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

