{% extends 'base_old.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <body>
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <br>
        <br>
        {% include 'header.html.twig' %}
        <div class="row">
            {% for message in app.session.flashBag.get('success') %}
                <div class="col-lg-offset-3 col-md-4 text-center alert alert-success" id="alerFlash">
                    <i class="fa fa-window-close text-right" aria-hidden="true">
                        {{ message }} <a href="{{ path('listofinvoice') }}">List of invoice</a>
                    </i>
                </div>
            {% endfor %}

            {% for message in app.session.flashBag.get('error') %}
                <div class="col-lg-offset-3 col-md-4 text-center alert alert-danger" id="alerFlash">
                    <i class="fa fa-window-close text-right" aria-hidden="true">
                        {{ message }}
                    </i>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h2 class="text-center"> Welcome to My Senso Invoice ✅</h2>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <div>
                    <h3>Create your invoice</h3>
                </div>
                <br>
                {{ form_start(createInvoice) }}
                <div class="form-group row">
                    <label for="example-month-input" class="col-2 col-form-label">Month</label>
                    <div class="col-10">
                        <input class="form-control" type="month" value="2020-01" name="month">
                    </div>
                </div>
                {{ form_row(createInvoice.daysWorked) }}
                {{ form_row(createInvoice.bankHolidays) }}
                {{ form_row(createInvoice.workSaturdays) }}
                {{ form_row(createInvoice.workSundays) }}
                {{ form_row(createInvoice.user) }}


                <ul>
                    {% for i in 0..4 %}
                        <li>
                            {# consomme json, itérer dessus et je l'affiche#}

                        </li>
                    {% endfor %}
                </ul>


                {{ form_end(createInvoice) }}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#invoice_manual_creation_user').change(function (message) {
                $('#hidden').show();

                let userName = $('#invoice_manual_creation_user option:selected').text();
                console.log(userName)

                    $.get("{{ path('showAllContract') }}", {'user': userName})


            });
        });


    </script>
    </body>
{% endblock %}



