{% extends 'base.html.twig' %}

{% block body %}
    <header>
        <!-- header-area start -->
        <div id="sticker" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <!-- Navigation -->
                        <nav class="navbar navbar-default navbar-light">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="{{ path('homepage') }}" >
                                    <img src="{{ asset('img/Logo_Senso_3.png') }}" alt="logo">
                                </a>
                                <!-- Brand -->
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                                <ul class="nav navbar-nav navbar-right" >
                                    <li class="active">
                                    <li>
                                        <a class="page-scroll" href="{{ path('homepage') }}">About</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{{ path('homepage') }}">Services</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" href="{{ path('homepage') }}">Contact</a>
                                    </li>
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li>
                                            <a class="page-scroll" href="{{ path('app_logout') }}">Logout</a>
                                        </li>
                                        <li>
                                            <div class="dropdown">
                                                <br/>
                                                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                    Menu
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu men" style="background-color: whitesmoke !important;">
                                                    <li class="nav-header text-center btn btn-success">Admin section</li>
                                                    <li class="men btn "><a class="men" href="{{ path('adminsenso') }}">List Of Contacts</a></li>
                                                    <li class="men btn "><a class="men" href="{{ path('createcontact') }}">Create new contact</a></li>
                                                    <li class="men btn "><a class="men" href="{{ path('app_register') }}">Create new user</a></li>
                                                    <li class="nav-header text-center btn btn-success">User section</li>
                                                    <li class="men btn "><a class="men" href="{{ path('timesheet') }}">Create new Timesheet</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a class="btn btn-success"  href="{{ path('adminsenso') }}"><i>My</i>Senso</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <!-- navbar-collapse -->
                        </nav>

                        <!-- END: Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-area end -->
    </header>
{% endblock %}